<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>


<ul>
  <% @links.each do |link| %>
    <li><%= link %></li>
  <% end %>
</ul>


<form action="/create-new-link" method="post">
  <input type="text" name="url" required/>
  <input type="submit" value="Submit"/>
</form>
