<ul>
  <% @links.each do |link| %>
    <li><%= link %></li>
  <% end %>
</ul>


<form action="/create-new-link" method="post">
  <input type="text" name="url" required/>
  <input type="submit" value="Submit"/>
</form>
